.profile {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 1.2em;
    border: 2px solid black;
}

.img-profile {
    background-color: rgb(56, 53, 53);
    border-radius: 50%;
    max-width: 262px;
}

p {
  font-size: 3.5em;
  color: grey; 
  margin: 0; 
}

.name {
    font-weight: 700;
    color: black;
    text-align: center;
}